<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/nav.css">
    <link rel="stylesheet" href="static/js/nav.js">
    
    <title>PROJECT</title>
</head>
<body>
    
<div class="info-wrapper">
    <article class="info_tab">
        <h1 class="title">PROJECT</h1>
        <p class="info">
            안녕~~~~~~
        </p>
    </article>
</div>

<article class="doList-wrapper">
    <div class="doList-inner">
        <h1 class="doList-title">LIFE & STYLE</h1>
        <ul class="doList">

            <li class="doList-itm">
                <div class="doList-itm_img" style="background-image: url('C:\Users\Administrator\Desktop\어플\templates\static\img\1.jpg');"></div>
                <div class="doList-itm_text">
                    <h3>Casual Look</h3>
                    <p>ㄱㄱㄱㄱ</p>
                </div>
            </li>

            <li class="doList-itm">
                <div class="doList-itm_img" style="background-image: url(C:\Users\Administrator\Desktop\어플\templates\static\img\2.jpg);"></div>
                <div class="doList-itm_text">
                    <h3>Business Look</h3>
                    <p>rrrr</p>
                </div>
            </li>

            <li class="doList-itm">
                <div class="doList-itm_img" style="background-image: url(C:\Users\Administrator\Desktop\어플\templates\static\img\3.jpg);"></div>
                <div class="doList-itm_text">
                    <h3>Amekaji Look</h3>
                    <p>zzzzz</p>
                </div>
            </li>

            <li class="doList-itm">
                <div class="doList-itm_img" style="background-image: url(C:\Users\Administrator\Desktop\어플\templates\static\img\4.jpg);"></div>
                <div class="doList-itm_text">
                    <h3>Minimal Look</h3>
                    <p>ssssss</p>
                </div>
            </li>

        </ul>
    </div>
</article>


   
    
</body>

<footer class="footer"></footer>


<script src="static/js/ver.js"></script>


</body>
</html>
